
@use '@/assets/css/mixin.scss';

.page {
  height: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.container {
  height: 100%;
}

.tip,
.dialog {
  color: #fff;
  height: 0;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  pointer-events: none;
  .msg {
    padding: 5px 10px;
    background-color: rgba($color: #000000, $alpha: .6);
    p {
      line-height: 1.5;
    }
  }
}

.dialog {
  z-index: 5;
  margin-top: 0;
  .wrap {
    bottom: 10px;
    border: 1px solid #a9eee6;
    padding: 5px 10px;
    position: absolute;
    font-size: 16px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    border-radius: 3px;
    background-color: rgba($color: #000000, $alpha: .3);
  }
  .title {
    font-size: 24px;
  }
  .content {
    padding: 10px 0;
    .item {
      & + .item {
        margin-top: 10px;
      }
      span:nth-child(2) {
        color: #ff7e67;
      }
    }
  }
}



:global {
  :local( .page ) {
    @include mixin.scene-operation;
  }
}

:global {
  :local( .container ) {
    @include mixin.dot-label;
  }


  $color: #27ffb0;

  .scene-operation {

    :local(.item) {
      color: $color;
      border: 1px solid #{ $color };
      cursor: pointer;
      margin: 5px;
      padding: 10px 10px;
      display: inline-flex;
      font-size: 16px;
      white-space: nowrap;
      align-items: center;
      border-radius: 20px;
      pointer-events: all;
      justify-content: center;
      backdrop-filter: saturate(50%) blur(2px);
      background-color: rgba($color: $color, $alpha: .1);

      &:hover {
        background-color: rgba($color: $color, $alpha: .3);
      }
    }
  }
}