
@use '@/assets/css/mixin.scss';

.page {
  height: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.container {
  height: 100%;
}

.tip,
.dialog {
  color: #fff;
  height: 0;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  white-space: nowrap;
  pointer-events: none;
  .msg {
    padding: 3px 5px;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: .6);
    p {
      line-height: 1.5;
    }
  }
}

.dialog {
  z-index: 5;
  margin-top: 0;
  .wrap {
    bottom: 10px;
    border: 1px solid #a9eee6;
    padding: 5px 10px;
    position: absolute;
    font-size: 16px;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    border-radius: 3px;
    background-color: rgba($color: #000000, $alpha: .3);
  }
  .title {
    font-size: 24px;
  }
  .content {
    padding: 10px 0;
    .item {
      & + .item {
        margin-top: 10px;
      }
      span:nth-child(2) {
        color: #ff7e67;
      }
    }
  }
}



:global {
  :local( .page ) {
    @include mixin.scene-operation;
  }
}

:global {
  :local( .container ) {
    @include mixin.dot-label;
  }

}