.map-scene {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  height: 100%;
}


:global {
  :local( .map-scene ) {
    .map-3D-label {
      display: flex;
      cursor: pointer;
      padding: 4px 8px;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: .6);
      &.is-active {
        border: 1px solid darken(#fff, 80);
      }
      img {
        width: 16px;
        height: 16px;
      }
      .name {
        font-size: 12px;
        margin-left: 10px;
        position: relative;
      }
    }
  }
}