.page {
  height: 100%;
  padding: 10px;
  font-size: 1.5rem;
}

:global {
  :local(.page) {
    .el-tabs {
      height: 100%;
    }
    .el-select {
      width: 120px;
    }
    .el-tab-pane {
      height: 100%;
      overflow: auto;
    }
    .content {
      display: flex;
      flex-wrap: wrap;

      .group {
        width: 50%;
        padding: 4px;
        .title {
          padding: 6px 0;
          span {
            margin-right: 4px;
          }
        }
        &:first-child:last-child {
          width: 100%;
        }
        &:nth-child(2) {
          color: var(--el-color-primary);
          --el-text-color-regular: var(--el-color-primary);
        }
        &:nth-child(3) {
          color: var(--el-color-warning);
          --el-text-color-regular: var(--el-color-warning);
        }
        &:nth-child(4) {
          color: var(--el-color-danger);
          --el-text-color-regular: var(--el-color-danger);
        }
      }
    }

    .el-card {
      margin-bottom: 10px;
    }
  }
}
