.page {
  color: #fff;
  height: 100%;
  position: relative;
}

.operate {
  top: 10px;
  left: 10px; 
  z-index: 1;
  position: absolute;
}


.dialog-view {
  padding: 16px;
  user-select: none;
  background-color: rgba(9, 24, 89, 1);
  .city {
    .name {
      flex: 1;
      color: #fff;
      overflow: hidden;
      font-size: 16px;
      font-weight: 700;
      text-overflow: ellipsis;
    }
    .total {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .project {
    color: #fff;
    font-size: 14px;
    margin-top: 8px;
    img {
      width: 10px;
      height: 14px;
      margin-right: 8px;
    }
    .name {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .count {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    .item {
      margin-top: 8px;
      span {
        &:nth-child(2),
        &:nth-child(3) {
          color: rgba(255, 255, 255, 0.8);
          margin-left: 8px;
          font-weight: 700;
        }
        &:nth-child(2) {
          font-size: 16px;
        }
      }
    }
  }
}