
@use './reset.scss';
@use '../font/index.scss';

.page {
  height: 100%;
}

.three-page {
  height: 100%;
  z-index: 2;
  overflow: hidden;
  position: relative;

  .three-tip {
    top: 10px;
    left: 10px;
    z-index: 3;
    position: absolute;
  }

  .gui-wrap {
    top: 0px; 
    right: 0px; 
    width: 260px !important;
    position: absolute; 
    max-height: 100%; 
    margin-right: 0 !important;
    padding-bottom: 20px;
    & > ul {
      height: auto !important;
    }
    .function {
      height: auto;
    }
  }
}