.wrap {
  --bg-color: rgba(0, 0, 0, 0.5);
  --bg-filter: 10px;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 9;
  position: absolute;
  transform: translate(-50%, -50%);
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.loading {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  backdrop-filter: saturate(80%) blur(var(--bg-filter));
}

.progress {
  width: 206px;

  .img {
    $size: 165px;
    text-align: center;
    img {
      width: $size;
      height: $size;
    }
  }

  &-wrap {
  }

  .bar-out {
    flex: 1;
    height: 6px;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba($color: #fff, $alpha: 0.2);
  }
  .bar {
    width: var(--percentage);
    height: 100%;
    transition: width 0.15s linear;
    border-radius: 20px;
    background-color: #fff;
  }
  .text {
    color: #a8bad5;
    font-size: 18px;
    margin-top: 22px;
    text-align: center;
    font-weight: bold;
  }
}
