@use './function';
@use './config';

$B: null;
$E: null;
// 块
@mixin b( $block ) {
  $B: config.$namespace + config.$common-separator + $block !global;

  .#{ $B } {
    @content;
  }
}

// 元素 $B 继承而来 在 b 方法内使用(嵌套使用)
@mixin e( $element ) {
  $E: $element !global;
  $selector: &;
  $currentSelector: '';
  @each $unit in $element {
    $currentSelector: #{ $currentSelector +
      '.' +
      $B +
      config.$element-separator +
      $unit +
      ',' };
  }

  @if function.hitAllSpecialNestRule( $selector ) {
    @at-root {
      #{ $selector } {
        #{ $currentSelector } {
          @content;
        }
      }
    }
  } @else {
    @at-root {
      #{ $currentSelector } {
        @content;
      }
    }
  }
}

// 修饰符（挂载到根元素）
@mixin m( $modifier ) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{ $currentSelector +
      $selector +
      config.$modifier-separator +
      $unit +
      ',' };
  }

  @at-root {
    #{ $currentSelector } {
      @content;
    }
  }
}

// 配置修饰
@mixin configurable-m( $modifier, $E-flag: false ) {
  $selector: &;
  $interpolation: '';

  @if $E-flag {
    $interpolation: config.$element-separator + $E-flag;
  }

  @at-root {
    #{ $selector } {
      .#{ $B + $interpolation + config.$modifier-separator + $modifier } {
        @content;
      }
    }
  }
}

// 状态
@mixin when( $state ) {
  @at-root {
    &.#{ config.$state-prefix + $state } {
      @content;
    }
  }
}


// dark
@mixin dark( $block ) {
  html.dark {
    @include b( $block ) {
      @content;
    }
  }
}