.page {
  
}

.echarts {
  top: 0;
  left: 0;
  border: 1px solid #f00;
  z-index: 1;
  // scale: 0.5;
  position: absolute;
}

:global {
  :local(.page) {

    .dot-echarts-box {
      color: #fff;
      cursor: pointer;
      position: relative;

      .echarts-wrap {
        bottom: 1px;
        border: 1px solid #f00;
        padding: 6px;
        position: absolute !important;
        transform: translateX(-50%);
        border-radius: 3px;
      }
    }
  }
}