
@use 'three-scene/assets/css/mixin.scss';

.page {
  height: 100%;
  z-index: 1;
  position: relative;
  overflow: hidden;
  user-select: none;
}

.container {
  height: 100%;
}

.floor-select {
  top: 10px;
  left: 100px;
  position: absolute;
}


.tip {
  color: #fff;
  height: 0;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  white-space: nowrap;
  pointer-events: none;
  .msg {
    padding: 5px 10px;
    background-color: rgba($color: #000000, $alpha: .5);
    p {
      line-height: 1.5;
    }
  }
}

.camera {
  top: 10px;
  left: 10px;
  z-index: 2;
  position: absolute;
  pointer-events: none;

  $size: 60px;
  .item {
    color: #09c17e;
    width: $size;
    height: $size;
    border: 1px solid #09c17e;
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    border-radius: 50%;
    pointer-events: all;
    justify-content: center;
    backdrop-filter: saturate(50%) blur(2px);
    background-color: rgba($color: #09c17e, $alpha: .1);
    & + .item {
      margin-top: 10px;
    }
    &:hover {
      background-color: rgba($color: #09c17e, $alpha: .3);
    }
  }
}


:global {
  :local( .page ) {
    @include mixin.scene-operation;
  }
}

:global {
  :local( .container ) {
    @include mixin.dot-label;
  }
}