
@font-face {
  font-family: 'HongMeng';
  src: url('../font/HarmonyOS_Sans_SC_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YouShe';
  src: url('../font/You_She.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WRZongYi';
  src: url('../font/Wen_Ruan_Zong_Yi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}