
.e-drag__dot-content {
  color: var(--dot-color);
  height: 100%;
  font-size: 12px;

  .device-item {
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
  .device-item,
  .pipe-item {
    position: absolute;
    img {
      width: 96px;
      height: 96px;
      display: block;
      position: relative;
      max-width: none;
      max-height: none;
      user-select: none;
      -webkit-user-drag: none;
    }
    &.is-active {
      &::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgba($color: #f00, $alpha: .3);
        content: '';
        position: absolute;
        pointer-events: none;
      }
    }
    &.FM img,
    &.LDFM img,
    &.LQFM img {
      width: 32px;
      height: 32px;
    }
    &.DOT {
      .device-item__wrap {
        width: 20px;
        height: 20px;
        border: 2px solid #5097FF;
        display: flex;
        position: relative;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        background-color: #98C1FF;
        .device-item--mark {
          color: #3a84f5;
          font-size: 12px;
        }
        .device-item--text {
          top: 22px;
          left: 50%;
          color: var(--dot-text-color);
          position: absolute;
          transform: translateX(-50%);
        }
      }
    }

    &--name {
      left: 50%;
      opacity: .5;
      position: absolute;
      transform: translateX(-50%);
      white-space: nowrap;
      pointer-events: none;
    }
  }

  .pipe-item {
    &__wrap {
      position: relative;
      canvas {
        width: 100%;
        height: 100%;
        display: block;
      }
      svg {
        top: 0;
        left: 0;
        position: absolute;
        pointer-events: none;
        path {
          // animation: dash 2s linear infinite;
        }
        @keyframes dash {
          to {
            stroke-dashoffset: 100;
            // stroke-dasharray: 80 160;
          }
        }
      }
    }
  }
}
